alternativeNamespace: "problem-patterns"

zot:
  fullnameOverride: zot
  service:
    type: ClusterIP
  mountConfig: true
  configFiles:
    config.json: |-
      {
        "storage": { "rootDirectory": "/var/lib/registry" },
        "http": {
          "address": "0.0.0.0",
          "port": "5000",
          "auth": { "htpasswd": { "path": "/secrets/zot-admin/htpasswd" } },
          "accessControl": {
            "repositories": {
              "": {
                "anonymousPolicy": ["read"]
              },
              "**": {
                "policies": [{
                  "users": ["user"],
                  "actions": ["read"]
                }],
                "defaultPolicy": []
              }
            },
            "adminPolicy": {
              "users": ["admin"],
              "actions": ["read", "create", "update", "delete"]
            }
          }
        },
        "log": { "level": "debug" }
      }
  externalSecrets:
    - secretName: "zot-admin"
      mountPath: "/secrets/zot-admin"
  persistence: true
  pvc:
    create: true
    accessMode: "ReadWriteOnce"
    storage: 10Gi
    storageClassName: null
