apiVersion: v1
kind: ConfigMap
metadata:
  name: zot-containerfile
  namespace: {{ .Values.faultInjection.namespace }}
data:
  Containerfile: |
    FROM ubuntu:20.04

    ARG FILE_SIZE=500M

    RUN head -c $FILE_SIZE </dev/urandom > taking-space.txt
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zot-delete-image-script
  namespace: {{ .Values.faultInjection.namespace }}
data:
  delete_images.sh: |
{{ .Files.Get "files/delete_images.sh" | indent 4}}
